*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html, body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
header{
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    justify-content: space-between;


    background-image: url("../images/Home\ Screen\ \(1\).jpg");
    /* background-size: cover; */

    width: 100%;
    min-height: 100vh;
    /* height: auto; */
    /* height: auto; */
    background-repeat: no-repeat;
    background-size: cover ;
    padding: 3% 5%;
}


.header-section{
    /* position: fixed; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1%;
    /* margin-bottom: 20%; */
}
.menu-logo , .navbar{
    display: none;

}
.sidebar{
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.356);
    backdrop-filter: blur(10px);
    z-index: 20;
    width: 250px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;
}
.sidebar li{
    color: black;
    width: 100%;
    text-align: center;
}
#close-icon{
    text-align:right;
    padding: 10px;
}

.menu-icon{
    display: none;
}
@media(max-width:768px) {
    /* .nav-panel{
        display: none;
    } */
    .logout{
        display: none;
    }
    .hide{
        display: none;
    }
    .menu-icon{
        display: block;
    }
}
.logout{
    font-weight: bolder;
    font-size: 18px;
}
/* .nav-panel{
    display: none;
} */
.nav-links{
    font-size: 18px;    
    display: flex;
    gap: 24px;
    color: white;
}
.title-highlight{
    color: #FF8D41;
}
.logo{
    color:white;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: white;
}
.hero-section{
    /* padding-top: 20%; */
    margin-bottom: 50px;
    max-width: 604px;
    min-height: 407px;
}

.hero-content{
    margin: 10% 0px;
    /* padding: 5px; */
    
}
.hero-element1{
    color: white;
    font-size: 18px;
    font-weight: bold;
}
.hero-element2{
    line-height: 150%;
    font-size: 64px;
    color: white;
    font-weight: bold;
    margin-bottom: 32px;
}
@media (max-width:768px) {
    .hero-element2{
        font-size: 50px;
    }
}
.discription{
    color: white;
    font-size: 16px;
}
.hero-buttons{
    margin-top: 32px;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}
.hero-button{
    text-align: center;
    border-radius: 12px;
    padding: 12px 24px;
}
@media (max-width:500px){
    
    .hero-button{
        display: block;
        width: 100%;
    }
}
.col-orange{
    background-color: #FF8D41;
}
.border-white{
    border: 1px solid white;
}


/* about section */
.container{
    padding: 4% 6%;
    /* border: 2px solid black; */
    /* margin: 0 auto; */
    background-color: rgb(255, 255, 255);
    /* max-width: 1550px; */
    max-height: auto; 
    /* border: 1px solid black; */
}

.about-head{
    padding: 10px;
    margin: 20px 0;
    font-size: 22px;
    font-weight: bolder;
    text-align: center;
}
.about-container{
    /* background-color: rgb(152, 21, 21); */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 5%;
    /* border: 1px solid black; */
    /* gap: 117px; */
    /* change */
    padding: 0px 2%;
}
.row-rev{
    margin-left: auto;
    margin-right: 0;
    /* padding: 0px 2%; */
    flex-direction: row-reverse;
}

.about-image{
    /* max-width: 524px; */
    /* max-height: 360px; */
    /* border: 1px solid rgb(171, 167, 167);
    border-radius: 34px; */
    padding:15px;
    /* margin: 3%; */
    margin: 0 auto;
    /* margin: 0 auto; */
    /* display: inline; */
    /* change */
    width: 350px;
}
img {
    max-width: 100%;
    /* display: block; */
}

.about-discription{
    /* min-width: 200px; */
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    /* min-width: 353px; */
    gap: 32px;
    color: black;
    max-width: 650px;
    /* change */
    width: 450px;
    max-height: auto;
    font-size: 16px;
    padding: 15px;
    margin: 0 auto;
    /* margin: 20px 0; */
    /* margin: 0 auto; */
    /* border: 1px solid yellow; */
}
.mb-32{
    margin-bottom: 32px;
}
.mb-16{
    margin-bottom: 16px;
}
.text-light{
    font-weight: lighter;
}
.about-button{
    color: #FF8D41;
    border: 1px solid #FF8D41;
    width: 126px;
    max-height: 44px;
    padding:  12px 24px;
    font-size: 14px;
}
@media (min-width:1199px){
    .about-button:hover{
        background-color: #FF8D41;
        color: white;
    }
}
@media (max-width:500px){
    .about-button{
        width: 100%;
    }
}
/* fact value section */

.small-container{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    min-width: 320px;
    justify-content: space-around;
    min-height: 119px;
    padding: 20px;
    /* max-height: 188px; */
    color: white;
    align-items: center;
}
.factvalue{
    display: flex;
    min-width: 150px;
    min-height: 57px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 120px;
    height: 79px;
}

/* explore room section */
.explore-room-container{
    /* min-width: 353px; */
    margin: 0 auto;
    /* background-color: #F8F9FB; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center ;
    gap: 40px;
    /* height: 738px; */
    padding: 40px 4%;
}
.room-head{

    display: flex;
    flex-wrap: wrap;
    /* min-width: 290px; */
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    font-size: 20px;
    gap: 16px;
    /* height: 90px; */
    margin: 20px;

    /* text-align: center; */
    /* margin: 0 auto; */
}
.room-head h2{
    text-align: center;
}

.room-cards{
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    gap: 48px;
}

.room-card-text{
    background-color: rgb(255, 255, 255);
    height: 98px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0px;
}
.fs-14{
    font-size: 14px;
}


/* service-section */

.services-content{
    padding: 2% 4%;
}
.service-cards{
    display: grid;
    margin: 40px 2%;

    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    justify-content: center;
    gap: 48px;
    /* grid-template-columns: repeat(3,350px); */
    /* grid-auto-flow: column;
    grid-auto-rows: 300px;
    grid-auto-columns: 300px; */

}
/* @media screen and (min-width:1730px) {
    .service-cards{
        grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
    }
} */
.service-card{
    /* width: 350px; */
    padding: 3em;
    min-height: 258px;
    border: 2px solid #EEE;
    /* background-colo,r: ; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* max-width: 400px; */
}

.service-text-head{
    font-size: 18px;
    font-weight: bolder;
    text-align: center;
}

.service-text{
    font-size: 14px;
    font-weight: lighter;
    text-align: center;
}
.text-white{
    color: white;
}

/* tesimonail-section */
/* .testimonial-section{
    background-color: #F8F9FB;
} */
.bg-color-F8F9FB{
    background-color: #F8F9FB;
}
.testimonial-cards{
    padding: 4% 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.testimonial-card{
    /* border: 2px solid black; */
    padding: 20px;
    max-width: 250px;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: white;
}

.text-center{
    text-align: center;
}

.fs-16{
    font-size: 16px;
}
.text-bold{
    font-weight: bolder;
}


/* footer */

.footer-container{
    margin: 2% 2%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    /* justify-content: space-between; */
    gap: 50px;
}
.footer-card{
    /* border: 2px solid black; */
    display: flex;
    min-height: 150px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    /* min-width: 348px; */
    padding-left: 10px;
}

.fs-22{
    font-size: 22px;
}
.quick-link-cards{
    margin: 0 auto;
    margin-left: 0;
    /* border: 2px solid black; */
    padding-left:10px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 130px;
}
.quick-link-card{
    display: flex;
    flex-direction: column;
    min-height: 174px;
    align-items: flex-start;
    min-width: 100px;
    justify-content: space-around;
    /* margin: 0 30px; */
    margin-right: 30px;
}
.footer-link{
    color:black;

}
/* 
@media (max-width:768px) {
    .quick-link-cards{
        justify-content: flex-start;
        gap:50px;
    }
} */

@media (max-width:1180px) {
    .quick-link-cards{
        justify-content: flex-start;
        gap:40px;
    }
    .quick-link-card{

        margin-right: 0;
    }
}